body {
  /* bodyのフォント種類指定 */
  font-family: "Arial", "Meiryo",sans-serif;
}
html {
  /* ルート要素のフォントサイズ指定 */
  font-size: 20px;
  text-align: center;
}
h1 {
  /* フォントの種類指定 */
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* フォントサイズをルート要素の2倍に設定 */
  font-size: 2em;
  /* 文字間設定 */
   letter-spacing: 1.2em; 
  /* 影の設定 */
  text-shadow: 1px 1px 2px gray;
  /* 下線 */
  border-bottom: 3px solid rgb(115, 115, 114);
}
#basic p {
   font-weight: bold; 
}

.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}